:root {
/* Цвета шрифта */
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --accent-button-color: #fff;
  --hero-title-color: #fff;
  --footer-font-color: #fff;
  --link-footer-color: rgba(255, 255, 255, 0.6);
/* Цвета фона */
  --primary-bgr-color: #fff;
  --accent-bgr-color: #2196F3;
  --hero-butt-active: #188CE8;

  --footer-bgr-color: #2F303A;
  --our-team-bgr-color: #F5F4FA;
  --filter-butt-bgr-col: #F5F4FA;
/* Цвет рамок */
  --border-bottom-header: #ECECEC;
  --border-bottom-card: #EEEEEE;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  color: var(--primary-color);
  /* background-color: #fff; */
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}



/* Логотип */
.logo {
  margin-right: 93px;

  color: inherit;
  text-decoration: none;
  
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.word-web {
  color: var(--accent-color);
}

/* Site navigation */


.flex {
  display: flex;
  align-items: center;
}

.flex.container {
  border-bottom: 1px solid var(--border-bottom-header);
}


.flex.list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: inherit;
  text-decoration: none;

  /* outline: 2px solid #188CE8; */
  
  font-weight: 500;
  /* font-size: 14px; */
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.flex.list .nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 31px;
}





/* Е-мейл и адрес */
.contacts {
  display: flex;
  align-items: center;
  margin-left: 331px;
  }


.mail-phone {
  color: var(--secondary-color);
  text-decoration: none;
  
  font-weight: 500;
  /* font-size: 14px; */
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mail-phone:hover,
.mail-phone:focus {
  color: var(--accent-color);
}

.contacts.list .mail-phone {
  padding-top: 32px;
  padding-bottom: 31px;
}


.contacts.list .item-contacts + .item-contacts {
  margin-left: 50px;
}


/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  
  background-color: var(--footer-bgr-color);
  text-align: center;
  
  /* outline: 10px solid tomato; */
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--hero-title-color);
  /* Временный цвет фона для видимости белого заголовка */
  background-color: var(--footer-bgr-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  /* border-style: none; */
  padding: 10px 32px;
  min-width: 200px;

  color: var(--accent-button-color);
    background-color: var(--accent-bgr-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    /* align-items: center;
    text-align: center; */
    letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-button-color);
  background-color: var(--hero-butt-active);
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding-top {
  padding-top: 0;
}
/* Наши достоинства */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-advant-set {
  display: flex;
  column-gap: 30px;
}

.our-advant-set .item-adv {
  flex-basis: calc((100% - 90px) / 4);
}

.thumb {
   
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;

  background: #F5F4FA;
  border-radius: 4px;
}



.section-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-color);
  
  /* font-weight: 400; */
  /* font-size: 14px; */
  line-height: 1.71;
  letter-spacing: 0.03em;
}


/* Чем мы занимаемся */
.our-business:not(:last-child) {
  margin-right: 30px;

}


/* Наша команда */
.grey {
  background-color: var(--our-team-bgr-color);
}


.team-item {
  background: var(--primary-bgr-color); 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}


.team-item:not(:last-child) {
  margin-right: 30px;
}

.title-paragr {
  padding: 30px 0;
}


.team-title {
  margin-top: 0;
  margin-bottom: 10px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-paragraph {
  margin: 0;

  
  text-align: center;
    /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.soc-net {

}

.center {
  background-position: center;
}

/* Footer */

.footer {
  padding: 60px 0;
  
  color: var(--footer-font-color);
  background-color: var(--footer-bgr-color);
}
/* Контакты в футере */

.contacts-footer {
  font-style: normal;
}

.logo-footer {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;

}

.address-footer {
  margin: 0;

  /* font-weight: 400; */
  /* font-size: 14px; */
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.item-footer:not(:first-child) {
  margin-top: 9px;
}

.link-footer {
  color: var(--link-footer-color);
  text-decoration: none;

  /* font-weight: 400; */
  /* font-size: 14px; */
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}


                  /* PORTFOLIO PAGE */

/* Filter buttons */

.filter-flex {
  display: flex;
}

.filter-flex.list {
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-menu:not(:last-child) {
  margin-right: 8px;

}

.filter-buttons {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;

  background-color: var(--filter-butt-bgr-col);
  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}



.current-button {
  color: var(--accent-button-color);
  background-color: var(--accent-bgr-color);
}

.filter-buttons:hover,
.filter-buttons:focus {
  color: var(--accent-button-color);
  background-color: var(--accent-bgr-color);
  cursor: pointer;
}


/* Секция с работами из Портфолио  */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

/* .portfolio-item {
  border-bottom: 1px solid var(--border-bottom-card);
} */

.portfolio .portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link {
  color: inherit;
  text-decoration: none;
}

.no-bottom-space {
  display: block;
}

/* .portfolio-link:hover,
.portfolio-link:focus {
  color: var(--accent-color);

} */

.portfolio-name {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid var(--border-bottom-card);  
  border-bottom: 1px solid var(--border-bottom-card);
  border-left: 1px solid var(--border-bottom-card);

}


.portfolio-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-paragraph {
  /* margin-top: 4px;
  margin-right: 24px;
  margin-bottom: 20px;
  margin-left: 24px; */

  margin: 0;

  color: var(--secondary-color);
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  
}


